[submodule "components/lib_pid"]
	path = components/lib_pid
	url = https://github.com/KaiserEngineering/lib_pid.git
[submodule "components/lib_ke_protocol"]
	path = components/lib_ke_protocol
	url = https://github.com/KaiserEngineering/lib_ke_protocol.git