menu "Digital Dash Webapp Configuration"
    
    menu "ESP32 Pinout"
        config WEBAPP_EXAMPLE_PIN
            int "Signal connected to STM32"
            default 4
            help
                Example pin
    endmenu

    menu "Hardware Config"
        config I2C_ENABLE
            bool "I2C Enable"
            default true
            help
                false = Disabled, true = Enabled

        config I2C_MASTER_FREQUENCY
            int "Master Frequency"
            default 400000
            help
                I2C Speed of Master device.

        config EEPROM_7BIT_ADDR
            int "EEPROM 7-Bit Base Address in decimcal format"
            default 80
            help
                7-Bit Base Address of the EEPROM in decimal format
    endmenu

    menu "WiFi AP"
        config WIFI_ENABLE
            bool "WiFi Enable"
            default true
            help
                false = Disabled, true = Enabled

        config ESP_WIFI_SSID
            string "WiFi SSID"
            default "Digital Dash"
            help
                SSID (network name) for the example to connect to.

        config ESP_WIFI_PASSWORD
            string "WiFi Password"
            default "FordFocusSTRS"
            help
                WiFi password (WPA or WPA2) for the example to use.

        config ESP_WIFI_CHANNEL
            int "WiFi Channel"
            range 1 13
            default 1
            help
                WiFi channel (network channel) for the example to use.

        config ESP_MAX_STA_CONN
            int "Maximal STA connections"
            default 4
            help
                Max number of the STA connects to AP.
    endmenu

endmenu